/**************************************
GENERAL
**************************************/

body {
  font-family: 'Inconsolata', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}

section {
  margin: 5% 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 0 1em 0;
}

hr {
  margin: 5% 0;
}

p {
    margin: 0;
    line-height: 1.3;
    font-weight: 200;
}

/**************************************
HEADING
**************************************/

header {
  float: left;
  margin: 0 0 20px 0;
  padding: 15px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  margin: 15px 0;
  font-size: 3.2em;
  font-weight: normal;
  line-height: 0.8em;
}




/**************************************
NAVIGATION
**************************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 400;
  font-size: 0.9em;
  padding: 0 7px;
}




/**************************************
PAGE: MAIN
**************************************/

.profile-photo {
  display: block;
  max-width: 300px;
  margin: 0 auto 30px;
}


.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-align: left;
}

.contact-info ul {
  width: 80%;
  margin: 0 10%;
}

.contact-info li {
  max-width: 250px;
  margin: 0 auto;
}

.contact-info a {
  display: inline-block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 25px;
  margin: 5px 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}




/**************************************
PAGE: ENGINEER
**************************************/

.engineer-infograph {
  display: block;
  max-width: 300px;
  margin: 0 auto 30px;
}




/**************************************
PAGE: DEVELOPER
**************************************/





/**************************************
PAGE: ARTIST
**************************************/

#gallery {
  margin: 0 0 20px 0;
  padding: 15px 0 0 0;
  width: 100%;
  list-style: none;
}

#gallery li {
  float: left;
  width: 50%;
  margin: 0;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}



/**************************************
FOOTER
**************************************/

footer {
  font-size: 1em;
  text-align: center;
  padding-top: 30px;
  color: #ffb6c1;
  clear: both;
  margin: 2.5% 0;
}

footer p {
  margin-top: 2%;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.social-icon:hover {
  opacity: 0.3;

}



/**************************************
COLORS
**************************************/

/* site body */
body {
  background-color: #fff;
  color: #000;
}

/* grey header */
header {
  background: #fff;
  border-color: #fff;
}

/* nav background on mobile header */
nav {
background: #fff;
}

/* logo text */
h1, h2 {
  color: #ffb6c1;
}

/* links */
a {
  color: #ffb6c1;
}

/* nav link */
nav a, nav a:visited {
  color: #ffb6c1;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #ffe4e1;
}
